/* Contenedores */
.container-ucub {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1140px;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1140px;
  text-align: center;
}

/* Grid */
.columns {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.column {
    flex: 1;
    padding: 0 15px;
}

/* Typography */
.title {
    font-size: 2rem;
}

.subtitle {
    font-size: 1.5rem;
}

/* Buttons */
.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

/* Colores de botones */
.button.is-primary {
    background-color: #007bff;
    color: #fff;
}

.button.is-info {
    background-color: #17a2b8;
    color: #fff;
}

.button.is-success {
    background-color: #28a745;
    color: #fff;
}

.button.is-warning {
    background-color: #ffc107;
    color: #212529;
}

.button.is-danger {
    background-color: #dc3545;
    color: #fff;
}
